/*Custom css by Robins Gupta */

/*=============================*/
/*Global View  */



.logo{
  /*text-indent: 0px !important;*/
  font-size: 17px !important;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background: #007f5a ;
  /*Same as height of the logo*/
  line-height: 50px !important;
}


.logo:hover{
  background: #016646 !important;
}

.logo:before{
  content: 'SNAPHY'
}

.logo-strong:before{
  content: 'CONSOLE';
}

.x-navigation.x-navigation-minimized > li.xn-logo > a:first-child .logo-strong:before{
  content: '';
}

.x-navigation.x-navigation-minimized > li.xn-logo > a:first-child:before{
  content: 'DC'
}


/* Custom tile color */
.tile.tile-green{
  background: #016646;
  border-color: #016646 ;
}


/*Disabling animation*/
/*
http://stackoverflow.com/questions/21249441/disable-nganimate-for-some-elements
*/
.no-animate {
   -webkit-transition: none !important;
   transition: none !important;
}

.validate-form input.ng-invalid.ng-touched {
    border-color:  #b64645;
  }

.validate-form input.ng-valid.ng-touched {
    border-color:  #007f5a;
}



/*Modifying scrollbar*/
body::-webkit-scrollbar{
  width:8px;
  background-color:#cccccc;
}

body::-webkit-scrollbar-thumb{
  background-color:#858585;
  border-radius:4px;

}

body::-webkit-scrollbar-thumb:hover{
  background-color:#6b6b6b;
  border:1px solid #333333;
}

body::-webkit-scrollbar-thumb:active{
  background-color:#505051;
  border:1px solid #333333;
}

/*Control label for  modifying slider label class*/
.control-label{
  text-align: left !important;
  padding-bottom: 35px;
}

.knob-center
{
  width: 100%;
  text-align: center;
  display: inline;
  padding-left: 0px;
  padding-top: 30px;
}

.filter-range-label{
  padding: 10px 0px 5px 0px;
  text-align: center;
  display: inherit;
}

/*Modifying the checkbox*/
.check{
  padding-left: 10px;
}

.btn-green{
  background-color: #007f5a;
  border-color: #007f5a;
}

.btn-green:disabled {
  background-color: #319667;
  border-color: #319667;
}

.btn-green:hover, .btn-green:active, .btn-green:focus{
  background-color: #004C36;
  border-color: #004C36;
  color: #fff;
}


.check_{
  font-size: 18px;
  font-weight: normal;
  color: #016646;
}

.circle{

  color: #2f3c48;
}


/*Setting the flex contailer..*/
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;

}

.flex-item {

  padding: 5px;
  width: 100px;
  min-width: 110px;
  height: 110px;
  margin-top: 5px;
  flex-grow: 1;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;


  margin-left: 2px;
  margin-right: 2px;
}



.no-linebreak{
  white-space: nowrap;
}



/*==================================PRESCRIPTION AREA==========================================*/

.prescription-details{
  padding-left: 5px;
  font-size: 13px !important;
  text-decoration: underline !important;
}

.blueimp-gallery > .description {
  position: absolute;
  color: #fff;
  display: none;
  margin-top: 10px;
  width: 48%;
}





.blueimp-gallery-controls > .description {
  display: block;
}

.blueimp-gallery > .slides > .slide > .slide-content {
  margin: 0 0 0 50% ;
  width: 50%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
  vertical-align: middle;
}


.blueimp-gallery .table > thead > tr > th {
  background: transparent;
  color: #ddd;
  font-size: 12px;
}


.blueimp-gallery .table > tbody > tr > td {
  background: transparent;

}



.blueimp-gallery .table > thead > tr > th,
.blueimp-gallery .table > tbody > tr > th,
.blueimp-gallery .table > tfoot > tr > th,
.blueimp-gallery .table > thead > tr > td,
.blueimp-gallery .table > tbody > tr > td,
.blueimp-gallery .table > tfoot > tr > td {
  border-color: #a1a1a1;
}


.blueimp-gallery td a:hover {
  color: #fff;
}

.blueimp-gallery tr:hover {
  color: #fff;
}

.blueimp-gallery .panel{
  margin-bottom: 0px;
}





.blueimp-gallery .input-group .form-control {
  background-color: transparent;
  border-color: #aaa;
  opacity: 0.6;
  color:#fff;
  border-radius: 0px;

}

.blueimp-gallery .input-group .form-control:focus, .blueimp-gallery .input-group .form-control:hover{
  background-color: transparent;
  border-color: #aaa;
  opacity:1;
  color:#fff;
}

.blueimp-gallery > .description {
  position: absolute;
  top: 5px;
  left: 5px;

}




.blueimp-gallery .nav-tabs > li > a {
  background: transparent;
  color: #bbb;
  border-radius: 0px;
  border-top:0px;

}


.blueimp-gallery .nav-tabs > li.active > a {
  background: transparent;
  color: #bbb;
  border-radius: 0px;
  border-top:0px;
  border-bottom: 1px;
  border-color: #fff;
  border-style: solid;
  color: #ddd;
}





.blueimp-gallery .nav-tabs>li.active>a,
.blueimp-gallery .nav-tabs>li.active>a:hover,
.blueimp-gallery .nav-tabs>li.active>a:focus {
  color: #fff;
  cursor: default;
  background-color: transparent;

  border-width:0px 0px 2px 0px;
  border-style: solid;
  border-bottom-color: #007f5a;
  border-radius: 0px;
}



.blueimp-gallery  .panel{
  background-color: transparent;
  border-radius: none;
  border: none;
}

.blueimp-gallery .addPrescriptionAlertList{
  background-color: transparent;
}



/*message-box class*/
.blueimp-gallery .message-box.messageBoxDrugInfo{
  top:-20%;
  max-height: 500px;
}


.blueimp-gallery .panel-heading{
  background-color: transparent;
  border-color: transparent;
  padding:0px;
}

.blueimp-gallery h5{
  color:#FFF;
  margin: 0px;

}


/*Button for removing the prescription..*/
.remove-prescription{
  border: none;
  background-color: transparent !important;
}


.message-box{
  z-index: 9999999;
}







/*Displaying pointer*/
.cursor{
    cursor: pointer;
}





/* ========================================================================================== */

/* Retailer page */
.map-search-form-div{
  padding-left: 0px !important;
  padding-right: 5px !important;
  padding-bottom: 5px !important;
}

.map-search-form-input{
  border-radius: 0px;
  height: 40px;
}

.map-search-form-button{
  border-radius: 0px;
  height: 40px;
}


/*Customer Profile page*/

.pending-orders{
  text-align: center;
  font-size: 20px;
}





/*===========================================LOGIN PAGE============================================*/
.login-logo{
  font-size: 24px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background: none !important;

}





/*=================================CustomerProfile/prescriptions======================================*/
/*=================================CustomerProfile/prescriptions/PrescriptionDetails/Search Drug======================================*/

.dc-drug-search-name{
  whitespace:nowrap;
  opacity: 0.7;
}


.dc-drug-search-form-type{
 opacity: 0.8;
 whitespace:nowrap;
}


.dc-drug-search-packing-details{
  opacity: 0.8;
  white-space: nowrap;
}



.dc-drug-search-price{
  opacity: 0.7;
  text-align:right;
}


.selectize-control.col-md-10.single{
  padding:0px;
  border-radius:0px;
}

.selectize-input.items.not-full, .selectize-input, .selectize-input.items.has-options.full.has-items{
  border-radius:0px;
}

.selectize-control.col-md-10.multi{
  padding:0px;
}

/*Input */
.dc-input, .dc-input:focus {
  background: transparent;
  border-color: #a1a1a1;
  border-radius: 0px;
  border-width: 0px 0 1px 0;
  margin-bottom: 5px;
  color: #FFF;
  font-size: 12px;
  opacity: 0.8;
  -webkit-transition: none !important;
   transition: none !important;
   margin-bottom: 8px;
}


.dc-input:focus {
  background: transparent;
  border-color: #ddd;
  opacity: 1;
}


.dc-input:focus::-webkit-input-placeholder { /* WebKit browsers */
    color: #fff;
}

.dc-input:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
}

.dc-input:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
}

.dc-input:focus:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #fff;
}



select.dc-input option{
  color: #111;
  opacity: 0.8;
  font-size: 13px;
  background: #ddd;
  height: 50px;
}





.blueimp-gallery .description{
  height:600px;
  overflow-y: auto;
}


/*Modifying scrollbar*/
.blueimp-gallery .description::-webkit-scrollbar{
  width:8px;
  background-color:transparent;
}

.blueimp-gallery .description::-webkit-scrollbar-thumb{
  background-color:#222;
  opacity: 0.6;
  border-radius:0px;

}

.blueimp-gallery .description::-webkit-scrollbar-thumb:hover{
  opacity: 0.8;
  border:1px solid #333333;
}

.blueimp-gallery .description::-webkit-scrollbar-thumb:active{
  opacity: 0.9;
  border:1px solid #333333;
}



/*JQUERY NOTY NNOTIFICATION BOX*/
.noty_message{
    padding: 10px;
    color: #fff;
}


.noty_bar{
  background-color:  #016646;
}
